<div class="container">
  <div class="row" style="padding-top: 30px;">
    <h2 class="title">Sign up</h2>
  </div>

  <div class="row" style="padding-top: 30px;">
    <%= form_with model: @user, url: user_registration_path do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, placeholder:"ニックネーム", class:"form-control", size:40; %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class:"form-control"; %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class:"btn btn" %>
      </div>
    <% end %>

    <div>
      <br>
    </div>
  </div>
</div>
