<div class="container">
  <div class="row" style="padding-top: 30px;">
    <h2 class="title">Log in</h2>
  </div>

  <div class="row">
    <%= form_with model: @user, url: user_session_path do |f| %>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control",size:40; %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Log in", class:"btn btn" %>
      </div>
    <% end %>

    <div>
      <br>
    </div>
  </div>
</div>
