<header>
  <div class="container">
    <!-- 上メニュー --> 
    <div class="header-top">
      <div class="row logo-area">
        <%= link_to root_path do %>
        <%= image_tag("Title.png", alt: "Title", class: "nav-title") %>
        <% end %>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <!-- 下メニュー --> 
    <nav class="header-bottom navbar navbar-expand-md navbar-light">
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
        <menu>
        <ul class="navbar-nav mx-auto">
          <% if admin_signed_in?  %>
            <!-- アドミンログイン時 --> 
            <li class="nav-item">
            </li>
          <% elsif user_signed_in? %>
            <!-- ユーザーログイン時 --> 
            <li class="btn nav-item">
              <%= link_to 'MyPage', maypage_path, class: 'btn header-nav-btn' %>
            </li>
            <li class="btn nav-item">
              <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn header-nav-btn' %>
            </li>
            <li class="nav-item">
            </li>
          <% else %>
            <!-- 非ログイン時 --> 
            <li class="btn nav-item">
              <%= link_to 'TOP', root_path, class: 'btn header-nav-btn' %>
            </li>
            <li class="btn nav-item">
              <%= link_to 'About', about_path, class: 'btn header-nav-btn' %>
            </li>
            <li class="btn nav-item">
              <%= link_to 'Log in', new_user_session_path, class: 'btn header-nav-btn' %>
            </li>
            <li class="btn nav-item">
              <%= link_to 'Sign up', new_user_registration_path, class: 'btn header-nav-btn' %>
            </li>
          <% end %>
        </ul>
        </menu>
      </div>
    </nav>
  </div>
</header>